<style>
  .blog-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .blog-card img {
    width: 100%;
    height: auto;
  }
  .blog-card .details {
    width: 100%;
    text-align: left;
    padding: 10px;
  }
  .details .title {
    font-size: 1.5em;
  }
  .details .content {
    color: grey;
  }
  .details .meta {
    color: grey;
    font-weight: bold;
  }
</style>

<div class="blog-card" id="blog-card">
  <div class="image">
    <img src="{{ post.post-image }}" alt="Post Image">
  </div>
  <div class="details">
    <a href="{{ post.url | absolute_url }}">
      <h1 class="title">{{ post.title }}</h1>
      <div class="content">
        {{ post.content | truncate: 300 | strip_html | strip_newlines | strip | escape }}
      </div>
      <hr>
      <div class="meta">
        <span>Published on {{ post.date | date: "%-B %d, %Y" }}</span> | 
        <i class="fas fa-clock"></i> 
        <span>{% assign words = post.content | number_of_words %}{%- unless content.size == 0 -%}{{ words | divided_by:180 }} min{% endunless %} read</span>
      </div>
    </a>
  </div>
</div>
